{% extends "base.html" %} {% block title %}Contact Us{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="contact-container">
        <div class="contact-info">
          <h3>Contact Us</h3>

          <div class="contact-box">
            <h4>Vanderbilt AI Negotiation Lab</h4>

            <ul>
              <li>401 21st Avenue South</li>
              <li>Nashville TN 37203</li>
              <li>615.322.3992</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-people">
    <div class="row">
      <div class="col-lg-6">
        <div class="contact-people-box">
          <h3>Project Logistics</h3>
          <h5>Ray Friedman</h5>
          <p><a href="mailto:ray.friedman@vanderbilt.edu">Send email</a></p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-people-box">
          <h3>Technical Assistance</h3>
          <h5>Jaewoo Cho</h5>
          <p><a href="mailto:jaewoo.a.cho@vanderbilt.edu">Send email</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
